.headerSearch{
    background: #ddd;
    padding: 10px;
    position: sticky;
    z-index: 999999;
    top: 0;
    input{
        width: 100%;
        margin: 0;
        height: 35px;
        border-radius: 16px;
        border: 0;
        padding: 5px;
        text-align: center;
    
    }
}
.addContent{
    border: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    border-bottom: 1px solid #ddd;
        p{
            color: #827e7e;
            font-size: 15px;
            font-weight: bold;
        }
        i{
            font-size: 32px;
            color: #9c9898;
        }

 
}
.title{
    padding: 7px 15px;
    background: #efefef;
    color: #000;
    font-weight: bold;
    margin: 0;
    position: sticky;
    top: 55px;
    &.Cp{
        text-transform: uppercase;
    }
}
.item{
    padding: 10px;
    display: flex;
    align-items: center;
    .info{
        margin: 0 10px;
        .name{
            font-size: 20px;
            color: #8e8e8e;
        }
        p{
            margin: 0;
            color: rgb(173, 169, 169);
        }
    }
    +.item{
        border-top: 1px solid#ddd;
    }
    img{
        width: 65px;
        height: 65px;
        border-radius: 50%;
        border: 3px solid#ddd;
    }

}