<div class="headerPage">
    <p>
        Add a New Contact
    </p>
    <div class="avatar">
        <img (click)="file.click()"  [src]="imgURL || 'assets/imgs/male-place-holder.png'">
        <input #file type="file" hidden accept='image/*' (change)="preview(file.files)">

    </div>

</div>
<form [formGroup]="addContact">
    <mat-form-field class="example-full-width">
        <mat-label>Firs Name</mat-label>
        <input matInput formControlName="firstName" placeholder="Ex. Mohamed...">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" placeholder="Ex. Elsadat...">
    </mat-form-field>
    <div class="Phone">
        <mat-form-field appearance="fill" class="keyNumber">
            <mat-label>State Key</mat-label>
            <!-- [(value)]="selected" -->
            <mat-select formControlName="StateKey">
                <mat-option *ngFor="let key of keysnumber" [value]="key.dial_code">{{key.dial_code}}</mat-option>

            </mat-select>
        </mat-form-field>
        <mat-form-field class="phoneNumber example-full-width">
            <mat-label>Phone Number</mat-label>
            <input matInput formControlName="mobileNumber" type="number" placeholder="Ex.012001...">
        </mat-form-field>
    </div>

    <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="Ex. pat@example.com">
        <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
        <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error> -->
        <!-- <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error> -->
    </mat-form-field>

    <button class="addBtn" (click)="addContactItam()">
        Add Contact
    </button>
    <button class="CancelBtn" (click)="close()">
        Cancel
    </button>
</form>